IP_DISCORDIADOR=127.0.0.1
PUERTO_DISCORDIADOR=5001
PUNTO_MONTAJE=/home/utnso/fs-imongo/
PUERTO=5003
TIEMPO_SINCRONIZACION=1
POSICIONES_SABOTAJE=[10|10,2|2,4|2,4|5,3|1]
ARCHIVO_OXIGENO_NOMBRE=oxigeno.ims
ARCHIVO_COMIDA_NOMBRE=comida.ims
ARCHIVO_BASURA_NOMBRE=basura.ims
BYTES_BLOQUE=256
CANTIDAD_BLOQUES=32678
PATH_BITACORA=files/bitacora/
PATH_FILES=files/
LOG_LEVEL=INFO
SALIDA_ESTANDAR=0
TIEMPO_SABOTAJE=3